/*****************************************

General

******************************************/

body {
    width: 100vw;
    border-left: $c-brown 10px solid;
    overflow-y: hidden;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;

}

div#homepage {
    margin-top: 143px;

    @media (max-width: 1276px) {
        margin-top: 174px;
    }

    @media (max-width: $sm) {
        margin-top: 65px;
    }
}

a {
    color: $c-black-main;
    text-decoration: none;
}

a:hover {
    color: $c-brown;
    transition: ease .2s;
}

p {
    margin: 0;
}